/* MAP NODE */

#map-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 25px;
    width: max-content;
    height: max-content;
}

#map {
    width: 450px;
    height: 300px;
    border-radius: 25px;
    border: none;
}

#map-loading {
    width: 450px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map-loading-icon {
    color: rgba(255, 255, 255, 0.2);
    transform: scale(10);
}

/* WEATHER NODE */

#weather-container {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    width: 275px;
    height: 300px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 16px 0px;
}

#location {
    width: 300px;
    text-align: center;
}

#temperature {
    font-size: 2.25rem;
}

#conditions {
    width: 250px;
    text-align: center;
}

/* WEATHER LOADING */

#weather-loading-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#spinner {
    margin-top: 10px;
    animation-name: spinSpinner;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes spinSpinner {
    0% {
        transform: scale(1.5) rotate(0deg);
    }

    100% {
        transform: scale(1.5) rotate(360deg);
    }
}

/* TIME NODE */

#time-container {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    width: 175px;
    height: 300px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0px;
}

#time-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#time-zone {
    width: 100px;
    text-align: center;
}

.dst {
    width: 150px;
    text-align: center;
    margin-top: 8px;
}

/* CLOCK */

.clock {
    background: #ececec;
    width: 300px;
    height: 300px;
    margin: 8% auto 0;
    border-radius: 50%;
    border: 14px solid #333;
    position: relative;
    box-shadow: 0 2vw 4vw -1vw rgba(0,0,0,0.8);
    transform: scale(.4);
    position: absolute;
    top: 38%;
  }
  
  .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 4px -1px black;
  }
  
  .hour-hand {
    position: absolute;
    z-index: 5;
    width: 4px;
    height: 65px;
    background: #333;
    top: 79px;
    transform-origin: 50% 72px;
    left: 50%;
    margin-left: -2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  
  .minute-hand {
    position: absolute;
    z-index: 6;
    width: 4px;
    height: 100px;
    background: #666;
    top: 46px;
    left: 50%;
    margin-left: -2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 105px;
  }
  
  .second-hand {
    position: absolute;
    z-index: 7;
    width: 2px;
    height: 120px;
    background: gold;
    top: 26px;
    lefT: 50%;
    margin-left: -1px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 125px;
  }
  
  span {
    display: inline-block;
    position: absolute;
    color: #333;
    font-size: 22px;
    font-family: 'Poiret One';
    font-weight: 700;
    z-index: 4;
  }
  
  .h12 {
    top: 30px;
    left: 50%;
    margin-left: -9px;
  }
  .h3 {
    top: 140px;
    right: 30px;
  }
  .h6 {
    bottom: 30px;
    left: 50%;
    margin-left: -5px;
  }
  .h9 {
    left: 32px;
    top: 140px;
  }
  
  .diallines {
    position: absolute;
    z-index: 2;
    width: 2px;
    height: 15px;
    background: #666;
    left: 50%;
    margin-left: -1px;
    transform-origin: 50% 150px;
  }
  .diallines:nth-of-type(5n) {
    position: absolute;
    z-index: 2;
    width: 4px;
    height: 25px;
    background: #666;
    left: 50%;
    margin-left: -1px;
    transform-origin: 50% 150px;
  }
  
  .info {
    position: absolute;
    width: 120px;
    height: 20px;
    border-radius: 7px;
    background: #ccc;
    text-align: center;
    line-height: 20px;
    color: #000;
    font-size: 11px;
    top: 200px;
    left: 50%;
    margin-left: -60px;
    font-family: "Poiret One";
    font-weight: 700;
    z-index: 3;
    letter-spacing: 3px;
    margin-left: -60px;
    left: 50%;
  }
  .date {
      top: 80px;
    }
  .day {
      top: 200px;
  }

/* CONTROL BAR */

#control-bar {
    display: flex;
    align-items: center;
}

#control-container {
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    overflow: hidden;
}

.control {
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#family {
    width: 90px;
}

#outdoors {
    width: 100px;
}

#restaurants {
    width: 130px;
}

#other {
    width: 80px;
}

.selected-category {
    color: rgb(82,113,255);
    font-weight: bold;
}

.divider {
    width: .5px;
    height: 50%;
    background-color: black;
}

#other-query {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    margin-left: 20px;
}

#query {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
}

/* ATTRACTIONS NODE */

#attractions-container {
    margin-left: 35px;
    width: 650px;
    height: 640px;
}

#results-container {
    width: 650px;
    height: 575px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 25px;
    border-radius: 25px;
}

/* ATTRACTION */

#attraction-container {
    padding: 20px;
    display: flex;
}

#attraction-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 515px;
    height: 35px;
    display: inline-block;
}

#info {
    margin-left: 20px;
}

.icon-img {
    width: 85px;
    height: 85px;
}

/* BOTTOM CONTROL */

#bottom-container {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 100%;
}

#page-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 30px;
}

#next, #back {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: rgb(82,113,255);
    width: 30px;
}

#next:hover, #back:hover {
    opacity: .9;
}

#pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 325px;
    height: 30px;
}

.page-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25px;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.page-button:hover {
    opacity: .8;
}

#see-all {
    width: 75px;
}

#foursquare-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 135px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 15px;
    transform: scale(.9);
}

.foursquare-text {
    color: rgb(82,113,255);
}

#foursquare-logo {
    width: 25px;
}

#foursquare-link {
    text-decoration: none;
}

/* LOADING ATTRACTION */

#loading-attraction {
    padding: 20px;
    display: flex;
    align-items: center;
}

#loading-img {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

#loading-info {
    margin-left: 20px;
}

.loading-text {
    background-color: rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

#loading-title {
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    height: 25px;
    border-radius: 10px;
}

/* LOADING WEATHER */

#weather-loading-title {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

#weather-loading-temp {
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.2);
    width: 80px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.weather-loading-text {
    background-color: rgba(255, 255, 255, 0.1);
    width: 200px;
    height: 25px;
    border-radius: 10px;
    margin-top: 10px;
}

/* LOADING TIME */

#time-loading-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#time-loading-clock {
    background-color: rgba(255, 255, 255, 0.15);
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#time-loading-time {
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.2);
    width: 80px;
    height: 45px;
    margin-top: 10px;
}

.time-loading-text {
    background-color: rgba(255, 255, 255, 0.1);
    width: 125px;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
}